@import "./base.scss";

#app {
    min-height: 100dvh;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

@mixin button($bg, $border, $color) {
    padding: 8px 15px;
    border-radius: 25px;
    font-weight: 500;
    transition: color 0.4s ease-out, background 0.4s ease-out,
        border 0.4s ease-out;
    background-color: $bg;
    border-color: $border;
    border-width: 1px;
    border-style: solid;
    color: $color;
}

@mixin btnSmall {
    padding: 8px 15px;
}

@mixin btnLarge {
    padding: 8px 15px;
}

@mixin buttonHover($bg, $border, $color) {
    background-color: $bg;
    border-color: $border;
    color: $color;
}

.button {
    &-primary {
        @include button(var(--purple), var(--purple), white);
    }

    &-primary:hover {
        @include buttonHover(white, var(--purple), var(--purple));
    }

    &-small {
        @include btnSmall();
    }

    &-large {
        @include btnSmall();
    }
}

u {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

u::before {
    $margin-h: -7px;
    $margin-v: -5px;

    content: "";
    position: absolute;
    top: $margin-v;
    bottom: $margin-v;
    right: $margin-h;
    left: $margin-h;
    background-color: var(--yellow);
    z-index: -1;
}

.clickable {
    user-select: none;
    cursor: pointer;
}

main {
    padding-top: var(--navbarHeight);
}

.section {
    $sectionMargin: 130px;

    padding: $sectionMargin 0;

    &-top {
        display: flex;
        justify-content: space-between;
        align-content: flex-end;

        p {
            width: 80%;
        }
    }

    &-title {
        width: 50%;

        h2 {
            font-size: 2.7rem;
            line-height: 3.7rem;
        }

        h3 {
            font-size: 2rem;
            line-height: 2.7rem;
        }

        p {
            margin-top: 20px;
            color: var(--textMedium);
        }
    }
}

.blue {
    background-color: var(--bgMedium);
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
}

// ---------------
// MIXINS
// ---------------
