@import "./base.scss";

// -------------------
// LAYOUT
// -------------------

body,
html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

main {
    // later delete
    overflow-x: hidden;
}

#app {
    min-height: 100dvh;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

u {
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 5;
}

u::before {
    $margin-h: -7px;
    $margin-v: -5px;

    content: "";
    position: absolute;
    top: $margin-v;
    bottom: $margin-v;
    right: $margin-h;
    left: $margin-h;
    background-color: var(--yellow);
    z-index: -1;
}

.clickable {
    user-select: none;
    cursor: pointer;
}

main {
    padding-top: var(--navbarHeight);
}

.disable-scroll {
    overflow: hidden !important;
}

// -------------------
// SECONDARY BAR
// -------------------

.secondary-bar {
    $border: 1px solid var(--borderLight);
    background-color: white;
    border-top: $border;
    border-bottom: $border;
    padding: 5px 0;
    position: sticky;
    top: var(--navbarHeight);
    left: 0;
    z-index: 10;
    right: 0;

    .container {
        display: flex;
    }

    .bar-item {
        padding: 20px 20px;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 0.95rem;
        color: var(--darkBlue);
        position: relative;
    }

    .bar-item::before {
        $height: 3px;
        position: absolute;
        content: "";
        bottom: -5px;
        right: 0;
        left: 0;
        margin: auto;
        width: 0;
        height: $height;
        border-radius: calc($height / 2);
        background-color: var(--purple);
        transition: width 0.4s ease-out;
    }

    .bar-item-active {
        color: var(--purple);
        font-weight: 500;
        position: relative;
    }

    .bar-item-active::before {
        width: 40%;
    }

    .bar-item:hover {
        background-color: var(--lightPurple);
    }
}

// -------------------
// BUTTONS
// -------------------

@mixin button($bg, $border, $color) {
    font-weight: 500;
    transition: color 0.4s ease-out, background 0.4s ease-out,
        border 0.4s ease-out;
    background-color: $bg;
    border-color: $border;
    border-width: 1px;
    border-style: solid;
    color: $color;
    display: inline-block;
    user-select: none;
    cursor: pointer;

    svg {
        fill: $color;
        transition: fill 0.4s ease-out, transform 0.4s ease-out;
    }
}

@mixin buttonHover($bg, $border, $color) {
    background-color: $bg;
    border-color: $border;
    color: $color;

    svg {
        fill: $color;
    }
}

.btn {
    &-primary {
        @include button(var(--purple), var(--purple), white);
    }

    &-primary:hover {
        @include buttonHover(transparent, var(--purple), var(--purple));
    }

    &-primary-outline {
        @include button(transparent, var(--purple), var(--purple));
    }

    &-primary-outline:hover {
        @include button(var(--purple), var(--purple), white);
    }

    &-black {
        @include button(var(--black), var(--black), white);
    }

    &-black:hover {
        @include buttonHover(transparent, var(--black), var(--black));
    }

    &-black-outline {
        @include button(transparent, var(--black), var(--black));
    }

    &-black-outline:hover {
        @include buttonHover(var(--black), var(--black), white);
    }

    &-s {
        border-radius: 25px;
        padding: 8px 20px;
    }

    &-m {
        border-radius: 30px;
        padding: 15px 30px;
    }

    &-l {
        border-radius: 40px;
        padding: 18px 30px;
        text-align: center;
        min-width: 300px;
    }

    &-arrow {
        border-radius: 30px;
        padding: 15px 27px 15px 35px;

        svg {
            $size: 12px;
            margin-left: 10px;
            height: $size;
            width: $size;
        }
    }

    &-arrow:hover {
        svg {
            transform: translateX(4px);
        }
    }
}

// -------------------
// SECTIONS
// -------------------

.section {
    $sectionMargin: 130px;

    padding: $sectionMargin 0;

    &-top {
        display: flex;
        justify-content: space-between;
        align-content: flex-end;

        p {
            width: 80%;
        }
    }

    &-title-center,
    &-title {
        position: relative;

        h2 {
            font-size: 2.5rem;
            line-height: 3.5rem;
        }

        h3 {
            font-size: 2rem;
            line-height: 2.7rem;
        }

        p {
            margin-top: 20px;
            color: var(--textMedium);
            width: 500px;
        }

        .btn-arrow {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    &-title-center {
        text-align: center;

        p {
            margin-right: auto;
            margin-left: auto;
            width: 60%;
        }
    }

    .slider {
        margin-top: 50px;
    }
}

.blue {
    background-color: var(--bgMedium);
}

// -------------------
// SLIDER
// -------------------

$itemGap: 20px;
$itemWidth: calc((100% - ($itemGap * 2)) / 3);
$itemScroll: calc($itemWidth + $itemGap);
$itemPadding: 30px;

.slider {
    &-list {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    &-inner {
        display: flex;
        gap: $itemGap;
        // margin-left: calc($itemScroll * -1);
        transition: margin 0.9s ease-in-out;
    }

    &-btns {
        margin-top: 30px;
        display: flex;

        &-btn {
            $size: 50px;

            height: $size;
            width: $size;
            background-color: var(--bgMedium);
            margin-right: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            cursor: pointer;
            transition: background 0.4s ease-out;

            svg {
                $iconSize: 35%;

                height: $iconSize;
                width: $iconSize;
                fill: #99a9b9;
                transition: fill 0.4s ease-out;
            }
        }

        .btn-prev {
            transform: scaleX(-1);
        }
    }
}

// -------------------
// COURSE CARD
// -------------------

@mixin item($pb) {
    border: 1px solid var(--borderMedium);
    width: $itemWidth;
    flex-shrink: 0;
    border-radius: 20px;
    padding: $itemPadding;
    padding-bottom: $pb;
    position: relative;
    user-select: none;
    cursor: pointer;
    overflow: hidden;

    h4 {
        font-size: 1.25rem;
        line-height: 1.8rem;
        min-height: 2rem;
        max-height: 3.7rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    span {
        font-size: 0.95rem;
        line-height: 1.4rem;
        color: var(--textLight);

        b {
            display: inline-block;
            padding: 0 10px;
        }
    }
}

// -------------------
// JOB CARD
// -------------------

.job-item {
    @include item(140px);
    transition: border 0.4s ease-out;
    cursor: default;

    &-logo {
        $size: 70px;

        border: 1px solid var(--borderMedium);
        height: $size;
        width: $size;
        border-radius: 14px;
        object-fit: cover;
    }

    &-title {
        margin: 20px 0 8px;

        h4 {
            cursor: pointer;
            display: inline-block;
            transition: color 0.3s ease-out;
        }
    }

    p {
        color: var(--black);
        font-size: 0.95rem;
        cursor: pointer;
        display: inline-block;
        transition: color 0.3s ease-out;
    }

    &-details {
        position: absolute;
        bottom: $itemPadding;
        left: $itemPadding;
        right: $itemPadding;

        &-item {
            margin-top: 15px;
            display: flex;
            align-items: center;

            span {
                color: var(--textMedium);
            }

            svg {
                $size: 13px;

                height: $size;
                width: $size;
                margin-right: 25px;
            }
        }

        &-style {
            margin-left: 15px;
            padding: 4px 15px;
            border-radius: 10px;
            font-weight: 500;
            font-size: 0.9rem;
        }

        .style {
            &-blue {
                background-color: #e7f4ff;
                color: var(--blue);
            }

            &-red {
                background-color: #ffeaf1;
                color: #e41f64;
            }

            &-orange {
                background-color: rgb(255, 242, 219);
                color: rgb(241, 132, 0);
            }
        }
    }
}

// -------------------
// FORMS
// -------------------

.input {
    margin-bottom: 35px;
    width: 100%;
}

label {
    font-size: 0.9rem;
    font-weight: 500;
    display: block;
    padding-bottom: 10px;
    color: var(--textMedium);
}

$inputPadding: 20px;

@mixin input {
    display: block;
    border: 1px solid var(--borderMedium);
    padding: 0 $inputPadding;
    border-radius: 10px;
    font-family: "SFProDisplay", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    width: 100%;
}

input {
    @include input();
    height: 55px;
}

textarea {
    @include input();
    padding-top: $inputPadding;
    min-height: 150px;
}

textarea:focus,
input:focus {
    outline: none;
    border-color: var(--purple);
    background: white;
}

input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    $background: var(--bgLight);
    background-color: $background;
    -webkit-box-shadow: 0 0 0 50px $background inset;
    box-shadow: 0 0 0 50px $background inset;
}

// ---------------
// AUTH
// ---------------

.auth-page {
    $height: calc(100dvh - var(--navbarHeight));

    margin: auto;
    position: relative;
    min-height: $height;
    overflow: hidden;

    img {
        height: $height;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: auto;
        right: 0;
        left: 0;
        object-fit: contain;
        object-position: top right;
        z-index: -1;
    }

    .container {
        height: $height;
        overflow-y: scroll;
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .container::-webkit-scrollbar {
        display: none;
    }

    &-content {
        width: 350px;
        padding: 30px 0 80px;

        h1 {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 50px;
            font-size: 1.05rem;
        }

        .btn-primary {
            margin-top: 5px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

    a {
        color: var(--purple);
        transition: color 0.4s ease-out;
        font-size: 0.95rem;
        font-weight: 500;
        margin-left: 10px;
    }

    a:hover {
        color: var(--black);
    }

    .auth-link {
        margin-top: 20px;
        text-align: center;
    }
}

// ---------------
// BREADCRUMBS
// ---------------

.breadcrumbs {
    font-size: 0.83rem;
    width: 100%;
    display: flex;
    align-items: center;

    a {
        font-weight: 500;
        color: var(--textLight);
    }

    b {
        font-weight: 600;
        display: inline-block;
        padding: 0 14px;
        color: var(--purple);
    }

    a:hover {
        color: var(--purple);
    }
}

// ---------------
// ARTICLE
// ---------------

.article {
    width: 750px;
    padding-bottom: 90px;
    font-size: 1.1rem;
    line-height: 1.7rem;

    h2 {
        font-size: 1.8rem;
        margin: 4rem 0 2.2rem;
    }

    .first {
        margin-top: 0;
    }

    ul,
    ol {
        padding-left: 15px;

        li {
            padding-left: 20px;
        }
    }

    a {
        font-weight: 500;
        color: var(--purple);
    }

    a:hover {
        text-decoration: underline;
    }
}

// ---------------
// HOVER
// ---------------

@media (hover: hover) {
    .courses-item:hover {
        .courses-item-banner {
            transform: scale(1.1);
        }
    }

    .slider-btns-btn:hover {
        background-color: var(--lightBlue);

        svg {
            fill: var(--black);
        }
    }

    .job-item {
        &-title {
            h4:hover {
                color: var(--purple);
            }
        }

        p:hover {
            color: var(--purple);
        }
    }
}

// ---------------
// RESPONSIVE
// ---------------

@media (max-width: 1300px) {
    .container {
        $margin: 50px;
        margin-right: $margin;
        margin-left: $margin;
        width: auto;
    }

    .section {
        padding: 100px 0;
    }
}

@media (max-width: 900px) {
    .container {
        $margin: 20px;
        margin-right: $margin;
        margin-left: $margin;
        width: auto;
    }

    .section {
        padding: 90px 0;
    }
}

@media (max-width: 700px) {
    .section {
        &-title-center,
        &-title {
            h2 {
                font-size: 7vw;
                line-height: 9vw;
            }

            h3 {
                font-size: 6vw;
                line-height: 8vw;
            }

            p {
                margin-top: 15px;
            }
        }
    }
}
