@import "./base.scss";

// -------------------
// LAYOUT
// -------------------

#app {
    min-height: 100dvh;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

u {
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 5;
}

u::before {
    $margin-h: -7px;
    $margin-v: -5px;

    content: "";
    position: absolute;
    top: $margin-v;
    bottom: $margin-v;
    right: $margin-h;
    left: $margin-h;
    background-color: var(--yellow);
    z-index: -1;
}

.clickable {
    user-select: none;
    cursor: pointer;
}

main {
    padding-top: var(--navbarHeight);
}

// -------------------
// BUTTONS
// -------------------

@mixin button($bg, $border, $color) {
    font-weight: 500;
    transition: color 0.4s ease-out, background 0.4s ease-out,
        border 0.4s ease-out;
    background-color: $bg;
    border-color: $border;
    border-width: 1px;
    border-style: solid;
    color: $color;
    display: inline-block;
    user-select: none;
    cursor: pointer;

    svg {
        fill: $color;
        transition: fill 0.4s ease-out, transform 0.4s ease-out;
    }
}

@mixin buttonHover($bg, $border, $color) {
    background-color: $bg;
    border-color: $border;
    color: $color;

    svg {
        fill: $color;
    }
}

.btn {
    &-primary {
        @include button(var(--purple), var(--purple), white);
    }

    &-primary:hover {
        @include buttonHover(transparent, var(--purple), var(--purple));
    }

    &-black {
        @include button(var(--black), var(--black), white);
    }

    &-black:hover {
        @include buttonHover(transparent, var(--black), var(--black));
    }

    &-small {
        border-radius: 25px;
        padding: 8px 15px;
    }

    &-m {
        border-radius: 25px;
        padding: 15px 30px;
    }

    &-l {
        border-radius: 40px;
        padding: 18px 30px;
        text-align: center;
        min-width: 300px;
    }

    &-arrow {
        border-radius: 30px;
        padding: 15px 27px 15px 35px;

        svg {
            $size: 12px;
            margin-left: 10px;
            height: $size;
            width: $size;
        }
    }

    &-arrow:hover {
        svg {
            transform: translateX(4px);
        }
    }
}

// -------------------
// SECTIONS
// -------------------

.section {
    $sectionMargin: 130px;

    padding: $sectionMargin 0;

    &-top {
        display: flex;
        justify-content: space-between;
        align-content: flex-end;

        p {
            width: 80%;
        }
    }

    &-title {
        position: relative;

        h2 {
            font-size: 2.7rem;
            line-height: 3.7rem;
        }

        h3 {
            font-size: 2rem;
            line-height: 2.7rem;
        }

        p {
            margin-top: 20px;
            color: var(--textMedium);
            width: 500px;
        }

        .btn-arrow {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .slider {
        margin-top: 50px;
    }
}

.blue {
    background-color: var(--bgMedium);
}

// -------------------
// SLIDER
// -------------------

$itemGap: 20px;
$itemWidth: calc((1200px - ($itemGap * 2)) / 3);
$itemScroll: calc($itemWidth + $itemGap);
$itemPadding: 30px;

.slider {
    &-list {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    &-inner {
        display: flex;
        gap: $itemGap;
        // margin-left: calc($itemScroll * -1);
        transition: margin 0.9s ease-in-out;
    }

    &-btns {
        margin-top: 30px;
        display: flex;

        &-btn {
            $size: 50px;

            height: $size;
            width: $size;
            background-color: var(--bgMedium);
            margin-right: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            cursor: pointer;
            transition: background 0.4s ease-out;

            svg {
                $iconSize: 35%;

                height: $iconSize;
                width: $iconSize;
                fill: #99a9b9;
                transition: fill 0.4s ease-out;
            }
        }

        .btn-prev {
            transform: scaleX(-1);
        }
    }
}

// -------------------
// COURSE CARD
// -------------------

@mixin item($pb) {
    border: 1px solid var(--borderMedium);
    width: $itemWidth;
    flex-shrink: 0;
    border-radius: 20px;
    padding: $itemPadding;
    padding-bottom: $pb;
    position: relative;
    user-select: none;
    cursor: pointer;

    h4 {
        font-size: 1.25rem;
        line-height: 1.8rem;
        min-height: 2rem;
        max-height: 3.7rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    span {
        font-size: 0.95rem;
        line-height: 1.4rem;
        color: var(--textLight);

        b {
            display: inline-block;
            padding: 0 10px;
        }
    }
}

.courses-item {
    @include item(90px);

    &-img {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        height: 170px;
        isolation: isolate;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform 0.7s ease-out;
        }
    }

    &-badge {
        $size: 70px;
        $margin: 10px;
        border: 1px solid white;
        border-radius: 10px;
        position: absolute;
        z-index: 5;
        height: $size;
        width: $size;
        bottom: $margin;
        left: $margin;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(8px);
    }

    &-title {
        margin: 20px 0 7px;
    }

    &-provider {
        $size: 40px;
        position: absolute;
        bottom: $itemPadding;
        left: $itemPadding;
        right: $itemPadding;
        height: $size;
        display: flex;
        align-items: center;

        img {
            height: $size;
            width: $size;
            border: 1px solid var(--borderMedium);
            border-radius: 5px;
            margin-right: 15px;
        }
    }
}

// -------------------
// JOB CARD
// -------------------

.job-item {
    @include item(140px);
    transition: border 0.4s ease-out;

    &-logo {
        $size: 70px;

        border: 1px solid var(--borderMedium);
        height: $size;
        width: $size;
        border-radius: 14px;
        object-fit: cover;
    }

    &-title {
        margin: 20px 0 10px;
    }

    p {
        color: var(--black);
        font-size: 0.95rem;
    }

    &-details {
        position: absolute;
        bottom: $itemPadding;
        left: $itemPadding;
        right: $itemPadding;

        &-item {
            margin-top: 15px;
            display: flex;
            align-items: center;

            span {
                color: var(--textMedium);
            }

            svg {
                $size: 13px;

                height: $size;
                width: $size;
                margin-right: 25px;
            }
        }

        &-style {
            margin-left: 15px;
            padding: 4px 15px;
            border-radius: 10px;
            font-weight: 500;
            font-size: 0.9rem;
        }

        .style {
            &-blue {
                background-color: #e3f2ff;
                color: var(--blue);
            }

            &-red {
                background-color: #fae3eb;
                color: #e41f64;
            }
        }
    }
}

// -------------------
// FORMS
// -------------------

.input {
    margin-bottom: 35px;
    width: 100%;
}

label {
    font-size: 0.9rem;
    font-weight: 500;
    display: block;
    padding-bottom: 10px;
    color: var(--textMedium);
}

input {
    display: block;
    height: 55px;
    padding: 0 20px;
    border: 1px solid var(--borderMedium);
    border-radius: 10px;
    font-size: 1rem;
    font-family: "SFProDisplay", "Helvetica Neue", sans-serif;
    width: 100%;
}

// ---------------
// AUTH
// ---------------

.auth-page {
    $height: calc(100dvh - var(--navbarHeight));

    margin: auto;
    position: relative;
    min-height: $height;
    overflow: hidden;

    img {
        height: $height;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: auto;
        right: 0;
        left: 0;
        object-fit: contain;
        object-position: top right;
        z-index: -1;
    }

    .container {
        height: $height;
        overflow-y: scroll;
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .container::-webkit-scrollbar {
        display: none;
    }

    &-content {
        width: 350px;
        padding: 30px 0 80px;

        h1 {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 50px;
            font-size: 1.05rem;
        }

        .btn-primary {
            margin-top: 5px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

    a {
        color: var(--purple);
        transition: color 0.4s ease-out;
        font-size: 0.95rem;
        font-weight: 500;
        margin-left: 10px;
    }

    a:hover {
        color: var(--black);
    }

    .auth-link {
        margin-top: 20px;
        text-align: center;
    }
}

// ---------------
// HOVER
// ---------------

@media (hover: hover) {
    .courses-item:hover {
        .courses-item-banner {
            transform: scale(1.1);
        }
    }

    .slider-btns-btn:hover {
        background-color: var(--lightBlue);

        svg {
            fill: var(--black);
        }
    }

    .job-item:hover {
        border: 1px solid var(--purple);
    }
}

// ---------------
// RESPONSIVE
// ---------------

@media (max-width: 1300px) {
    .container {
        $margin: 50px;
        margin-right: $margin;
        margin-left: $margin;
        width: auto;
    }
}

@media (max-width: 900px) {
    .container {
        $margin: 20px;
        margin-right: $margin;
        margin-left: $margin;
        width: auto;
    }
}
